body {
    text-align: center;
    background:url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Manhattan_in_the_distance_%28Unsplash%29.jpg/800px-Manhattan_in_the_distance_%28Unsplash%29.jpg");
    background-size: cover;
} 
#image {
    display: none;
    text-align: center;
    width: 150px;
    height: 150px;
}

input {
    font-size: 30px;
    padding: 10px;
}

button {
    background:red;
    color:white;
    font-size: 30px;
    padding: 10px;
}

button:focus {
    background: blue;
    color:white;
    font-size: 31px;
    padding: 11px;
}

h1 {
    color: white;
    font-size: 60px;
}

h2 {
    color: white;
    font-size: 50px;
    background: black;
}